<form method="POST" action="/update">
  <div class="login-register-wrapper section-padding">
    <div class="container">
      <div class="member-area-from-wrap">
        <div class="row">
          <div class="mb-3"></div>
          <label for="" class="form-label">id</label>
          <input type="" class="form-control" id="name" name="id">
        </div>
        <div class="mb-3"></div>
        <label for="" class="form-label">name</label>
        <input type="" class="form-control" id="c12" name="name">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">title</label>
        <input type="" class="form-control" id="tfff" name="title">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">price</label>
        <input type="" class="form-control" id="tfff" name="price">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">sale</label>
        <input type="" class="form-control" id="tfff" name="sale">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">soluong</label>
        <input type="" class="form-control" id="tfff" name="soluong">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">description</label>
        <input type="" class="form-control" id="tfff" name="description">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">img1</label>
        <input type="" class="form-control" id="tfff" name="img1">
      </div>


      <div class="mb-3">
        <label for="" class="form-label">img2</label>
        <input type="" class="form-control" id="bababa" name="img2">
      </div>
      <div class="single-input-item">
        <button class="btn btn-sqr">Submit</button>
      </div>
    </div>
  </div>
  </div>
  </div>


</form>