
<!-- breadcrumb area end -->

<!-- login register wrapper start -->
<div class="login-register-wrapper section-padding">
  <div class="container">
    <div class="member-area-from-wrap">
      <div class="row">
        <!-- Login Content Start -->
        <div class="col-lg-6">
          <div class="login-reg-form-wrap">
            <h5>Sign In</h5>
            <form action="/login" method="post">
              <div class="single-input-item">
                <input type="text" id="username" name="username" required />
              </div>
              <div class="single-input-item">
                <input type="password" id="password" name="password" required />
              </div>
              <div class="single-input-item">
                <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                  <div class="remember-meta">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="rememberMe">
                      <label class="custom-control-label" for="rememberMe">Remember Me</label>
                    </div>
                  </div>
                  <a href="#" class="forget-pwd">Forget Password?</a>
                </div>
              </div>
              <div class="single-input-item">
                <button class="btn btn-sqr">Login</button>
              </div>
            </form>
          </div>
        </div>
        <!-- Login Content End -->

        <!-- Register Content Start -->
        <div class="col-lg-6">
          <div class="login-reg-form-wrap sign-up-form">
            <h5>Singup Form</h5>
            <form action="/login" method="post">
              <div class="single-input-item">
                <input type="text" placeholder="Full Name" required name="username" />
              </div>
              <div class="single-input-item">
                <input type="email" placeholder="Enter your Email" required name="email" />
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="single-input-item">
                    <input type="password" placeholder="Enter your Password" required />
                  </div>
                </div>
                
              </div>
              <div class="single-input-item">
                <div class="login-reg-form-meta">
                  <div class="remember-meta">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="subnewsletter">
                      <label class="custom-control-label" for="subnewsletter">Subscribe
                        Our Newsletter</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-input-item">
                <button class="btn btn-sqr">Register</button>
              </div>
            </form>
          </div>
        </div>
        <!-- Register Content End -->
      </div>
    </div>
  </div>
</div>